.movies-card-article__title{
  font-size:15px;
  line-height:18px;
  font-weight:500;
}

.movies-card-article__image{
  object-fit: cover;
  width: 364px;
  height: 203px;
}

.movies-card-article__header{
  box-sizing: border-box;
  padding: 14px;
  display: flex;
  justify-content: space-between
}

.movies-card-article{
  width: 364px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 8%);
}

.movies-card-article__subtitle{
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #a0a0a0;
  margin: 0 auto;
}

.movies__favorite{
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: unset;
  background: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: url(../../../images/unsaved.svg);
}

.movies__favorite_saved{
  background: url(../../../images/saved.svg);
}

@media (max-width: 1279px) {
  .movies-card-article {
    width:339px;
  }

  .movies-card-article__image{
    object-fit: cover;
    width: 339px;
    height: 190px;
  }
}

@media (max-width: 400px) {
  .movies-card-article {
    width:300px;
  }
  .movies-card-article__image{
    object-fit: cover;
    width: 300px;
    height: 168px;
  }
}