.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;

}

.register__title{
  font-size:24px;
  line-height:29px;
  font-weight:500;
  margin-top:40px;
  margin-bottom: 40px;
}

.form{
  display: flex;
  flex-direction: column;
}

.form__label{
  font-size: 10px;
  line-height:12px;
  color:#A0A0A0;
}

.register__container{
  min-width: 396px;
}

.form__input{
  font-size:13px;
  line-height:16px;
  background:#F9F9F9;
  border: none;
  border-radius:8px;
  margin-top:10px;
  padding:15px;
  width:100%;
}

.form__input:not(:nth-of-type(3)){
  margin-bottom:20px;
}

.form__error{
  display: none;
  text-align: center;
  font-size:10px;
  line-height:12px;
  color: #FF4062;
  margin: 0;
  text-align: left;
  margin-top: -10px;
  margin-bottom:5px;
  width:396px;
 }

.form__error_active{
  display:block;
}

.search__error{
  display: none;
  text-align: center;
  font-size:10px;
  line-height:12px;
  color: #FF4062;
  margin-top: 10px;
  text-align: center;
 }

.search__error_active{
  display:block;
}

.form__error_pass {
  color: #FF4062;
}

.form__button{
  font-size:14px;
  line-height:17px;
  font-weight:500;
  color: #fff;
  background:#000;
  border-radius: 3px;
  padding-top: 13px;
  padding-bottom: 15px;
  margin-top:20px;
  transition: .3s ease;
  cursor: pointer;
}

.form__button:disabled{
  opacity: .5;
  transition: none;
}

.form__button:hover{
  opacity: .5;
}

.register__text{
  display: flex;
  justify-content: center;
  font-size:14px;
  line-height:17px;
  color: #A0A0A0;
  gap: 6px;
  margin-top:16px;
}

.register__link{
  color:#000;
  text-decoration: none;
  cursor: pointer;
  transition: opacity .3s ease;
}

.register__error{

  text-align: center;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  margin-top: 40px;
  text-align: center;
}

.register__error_active{
  display: block;
}

.register__link:hover{
  opacity: .5;
}

@media screen and (max-width: 768px){
  .register{
    padding-top: 0;
    justify-content: center;
    height: 100vh;
}
}

@media screen and (max-width: 500px){
  .register__container{
    min-width: 300px;
}
}

@media screen and (max-width: 500px){
  .register__link-logo{
    display: flex;
    justify-content:center;
}
}

@media screen and (max-width: 500px){
  .register__title{
    display: flex;
    justify-content:center;
    margin-top: 50px;
    margin-bottom:80px;
}
}

@media screen and (max-width: 500px){
  .form__button{
    margin-top: 157px;
    font-size: 12px;
    line-height:17px;
}
}

@media screen and (max-width: 500px){
  .register__text{
    font-size:12px;
    line-height:15px;
}
}

@media screen and (max-width: 500px){
  .form__error{
    width:300px;
}
}

@media screen and (max-width: 500px){
  .form__button{
    margin-top: 20px;
}
}